@model IEnumerable<Website.Models.User>

<h2>Список пользователей</h2>

<table class="table">
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userId="@u.Id">Редактировать</a>
            </td>
        </tr>
    }
</table>
